body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body > header {
  text-align: center;
}
body > main {
  padding-top: 3vh;
  padding-bottom: 8vh;
  flex: 1 0 auto;
}
body > footer {
  padding-bottom: 8vh;
  flex: 0 0 auto;
}
body > footer .copyright {
  text-align: center;
}

.search-field {
  text-align: center;
  padding-bottom: 5vh;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.headers .repo-header {
  border: 3px solid #73AD21;
  flex-basis: 21%;
  background-color: gold;
}
.headers .stars-header {
  border: 3px solid #73AD21;
  flex-basis: 21%;
  background-color: gold;
}
.headers .commit-header {
  border: 3px solid #73AD21;
  flex-basis: 21%;
  background-color: gold;
}
.headers .link-header {
  border: 3px solid #73AD21;
  flex-basis: 21%;
  background-color: gold;
}

.repos-list {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.repos-list .repo {
  display: flex;
  justify-content: center;
}
.repos-list .repo .repo-name {
  border: 3px solid #73AD21;
  flex-basis: 21%;
}
.repos-list .repo .repo-stars {
  border: 3px solid #73AD21;
  flex-basis: 21%;
}
.repos-list .repo .repo-last-commit {
  border: 3px solid #73AD21;
  flex-basis: 21%;
}
.repos-list .repo .repo-link {
  border: 3px solid #73AD21;
  flex-basis: 21%;
}

.container {
  display: flex;
  justify-content: center;
}
.container .repo-selected {
  text-align: center;
}
.container .repo-selected .repo-header {
  display: flex;
}
.container .repo-selected .repo-header .name-of-repo {
  border: 3px solid #73AD21;
  flex-basis: 33%;
  background-color: gold;
}
.container .repo-selected .repo-header .stars-header {
  border: 3px solid #73AD21;
  flex-basis: 33%;
  background-color: gold;
}
.container .repo-selected .repo-header .commit-header {
  border: 3px solid #73AD21;
  flex-basis: 33%;
  background-color: gold;
}
.container .repo-selected .main-info {
  display: flex;
  /*    .user-header {
        border: 3px solid #73AD21;
        flex-basis: 100%;
        background-color: gold;
      }*/
}
.container .repo-selected .main-info .repo-name {
  border: 3px solid #73AD21;
  flex-basis: 33%;
}
.container .repo-selected .main-info .repo-stars {
  border: 3px solid #73AD21;
  flex-basis: 33%;
}
.container .repo-selected .main-info .repo-last-commit {
  border: 3px solid #73AD21;
  flex-basis: 33%;
}
.container .repo-selected .repo-owner {
  display: flex;
  border: 3px solid #73AD21;
  align-items: center;
}
.container .repo-selected .repo-owner .profile-pic {
  border: 3px solid #73AD21;
}
.container .repo-selected .repo-owner .profile-link {
  border: 3px solid #73AD21;
  flex-basis: 100%;
}
.container .repo-selected .repo-languages {
  border: 3px solid #73AD21;
  flex: 1 0 100%;
}
.container .repo-selected .repo-description {
  border: 3px solid #73AD21;
  flex-basis: 100%;
}
.container .repo-selected .repo-contributors {
  border: 3px solid #73AD21;
  flex-basis: 100%;
}

.page-numbers {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.page-numbers .page {
  display: flex;
  background-color: coral;
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
