body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & > header {
    text-align: center;
  }

  & > main {
    padding-top: 3vh;
    padding-bottom: 8vh;
    flex: 1 0 auto;
  }

  & > footer {
    padding-bottom: 8vh;
    flex: 0 0 auto;
    .copyright {
      text-align: center;
    }
  }
}

.search-field {
  text-align: center;
  padding-bottom: 5vh;
}

.repos-list {
  text-align: center;
  display: flex;
  flex-direction: column;

    .repo {
      display: flex;
      justify-content: center;

      .repo-name {
        border: 3px solid #73AD21;
        flex-basis: 21%;
      }

      .repo-stars {
        border: 3px solid #73AD21;
        flex-basis: 21%;
      }

      .repo-last-commit {
        border: 3px solid #73AD21;
        flex-basis: 21%;
      }

      .repo-link {
        border: 3px solid #73AD21;
        flex-basis: 21%;
      }
    }
}

.repo-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .repo-header {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;

    .repo-name {
      border: 3px solid #73AD21;
      flex-basis: 33%;
    }

    .repo-stars {
      border: 3px solid #73AD21;
      flex-basis: 33%;
    }

    .repo-last-commit {
      border: 3px solid #73AD21;
      flex-basis: 33%;
    }
  }
  .repo-owner {
    border: 3px solid #73AD21;
    flex-direction: row;

    .img {
      border: 3px solid #73AD21;
      flex-basis: 50%;
    }

    .a {
      border: 3px solid #73AD21;
      flex-basis: 50%;
    }
  }

  .repo-languages {
    border: 3px solid #73AD21;
    flex: 1 0 100%;
  }

  .repo-description {
    border: 3px solid #73AD21;
    flex-basis: 100%;
  }

  .repo-contributors {
    border: 3px solid #73AD21;
    flex-basis: 100%;
  }
}

