body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body > header {
  text-align: center;
}
body > main {
  padding-top: 3vh;
  padding-bottom: 8vh;
  flex: 1 0 auto;
}
body > footer {
  padding-bottom: 8vh;
  flex: 0 0 auto;
}
body > footer .copyright {
  text-align: center;
}

.search-field {
  text-align: center;
  padding-bottom: 5vh;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.headers .repo-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 31%;
}
.headers .stars-header {
  flex-basis: 11%;
  background-color: lightblue;
  border: 1px solid cadetblue;
}
.headers .commit-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 21%;
}
.headers .link-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 21%;
}

.repos-list {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.repos-list .repo {
  display: flex;
  justify-content: center;
}
.repos-list .repo .repo-name {
  border: 1px solid cadetblue;
  flex-basis: 31%;
}
.repos-list .repo .repo-stars {
  border: 1px solid cadetblue;
  flex-basis: 11%;
}
.repos-list .repo .repo-last-commit {
  border: 1px solid cadetblue;
  flex-basis: 21%;
}
.repos-list .repo .repo-link {
  border: 1px solid cadetblue;
  flex-basis: 21%;
}

.pagination {
  display: flex;
  margin-top: 3vh;
  justify-content: center;
}
.pagination .page-link {
  border: none;
  outline: none;
  background-color: white;
}
.pagination .current-page-link {
  border: none;
  outline: none;
  background-color: lightblue;
}

.container {
  display: flex;
  justify-content: center;
}
.container .repo-selected {
  text-align: center;
  width: 50em;
}
.container .repo-selected .repo-header {
  display: flex;
}
.container .repo-selected .repo-header .name-of-repo {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 33%;
}
.container .repo-selected .repo-header .stars-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 33%;
}
.container .repo-selected .repo-header .commit-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 33%;
}
.container .repo-selected .profile-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 100%;
}
.container .repo-selected .main-info {
  display: flex;
}
.container .repo-selected .main-info .repo-name {
  flex-basis: 33%;
}
.container .repo-selected .main-info .repo-stars {
  flex-basis: 33%;
}
.container .repo-selected .main-info .repo-last-commit {
  flex-basis: 33%;
}
.container .repo-selected .repo-owner {
  display: flex;
  align-items: center;
}
.container .repo-selected .repo-owner .profile-pic {
  display: flex;
  align-self: center;
}
.container .repo-selected .repo-owner .profile-link {
  flex-basis: 100%;
}
.container .repo-selected .languages-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 100%;
}
.container .repo-selected .repo-languages {
  flex: 1 0 100%;
}
.container .repo-selected .description-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 100%;
}
.container .repo-selected .repo-description {
  flex-basis: 100%;
}
.container .repo-selected .contributors-header {
  background-color: lightblue;
  border: 1px solid cadetblue;
  flex-basis: 100%;
}
.container .repo-selected .repo-contributors {
  flex-basis: 100%;
}

/*# sourceMappingURL=main.css.map */
